__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
*.env.*
.DS_Store
.git
.gitignore
.vscode
.idea
.env
.venv
venv/
ENV/
.env.local
media/
staticfiles/
node_modules/
build/
dist/
coverage/
htmlcov/
.pnp.cjs
.pnp.js
