{% extends 'base.html' %}
{% block title %}Hapus Kios{% endblock %}

{% block page_title %}Hapus Kios{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card p-5 text-center shadow-sm">
            <div class="mb-4">
                <i class="bi bi-exclamation-circle text-danger display-1"></i>
            </div>
            <h3 class="fw-bold">Yakin ingin menghapus?</h3>
            <p class="text-muted">
                Anda akan menghapus data Kios <strong>{{ kios.name }}</strong> beserta seluruh data alokasi kuotanya. 
                Data yang sudah dihapus tidak dapat dikembalikan.
            </p>
            
            <form method="post" class="mt-4">
                {% csrf_token %}
                <a href="{% url 'kios_list' %}" class="btn btn-light border px-4">Batal</a>
                <button type="submit" class="btn btn-danger px-4">Ya, Hapus Permanen</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}