{% extends 'base.html' %}
{% block page_title %}Data Penebusan (SO){% endblock %}
{% block content %}
<div class="card p-4">
    <div class="d-flex justify-content-between mb-4">
        <h5 class="fw-bold">Stok Gudang (Batch SO)</h5>
        <a href="{% url 'so_create' %}" class="btn btn-primary"><i class="bi bi-plus-lg me-2"></i>Input Penebusan</a>
    </div>
    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>Tanggal</th>
                <th>Kode SO</th>
                <th>Jenis</th>
                <th>Awal</th>
                <th>Sisa Stok</th>
                <th>Jatuh Tempo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for so in so_data %}
            <tr>
                <td>{{ so.entry_date|date:"d/m/Y" }}</td>
                <td class="fw-bold">{{ so.so_code }}</td>
                <td>
                    {% if so.fertilizer_type == 'NPK' %}<span class="badge bg-danger">NPK</span>
                    {% else %}<span class="badge bg-info">UREA</span>{% endif %}
                </td>
                <td>{{ so.tonnage_initial }}</td>
                <td class="fw-bold">{{ so.tonnage_current }}</td>
                <td>{{ so.maturity_date|date:"d/m/Y" }}</td>
                <td>
                    {% if so.is_closed %}<span class="badge bg-secondary">Habis</span>
                    {% else %}<span class="badge bg-success">Tersedia</span>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}